.task-list {
  text-align: center;
  vertical-align: center;
}

.task-list h1 {
  font-size: 4rem;
}

.new-task-input {
  font-size: 1.4rem;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
}

.tasks-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  

  /*
  desde diplay hasta align-content, es para centrar la lista, con lo siguiente también se podía hacer
  display: table;
  margin: 0 auto;
  */
}

.tasks-list li {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  background-color: beige;
  border: 2px solid;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 70vw;
}

.text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 75%;
  overflow-wrap: break-word;
}

.completed .text {
  text-decoration: line-through;
}

.checkbox-task {
  height: 30px;
  width: 30px;
  margin: 0px;
}

.btn-close {
  height: 30px;
  width: 30px;
  background-color: rgb(236, 76, 76);
  border-radius: 5px;
}

.btn-close:hover {
  background-color: rgb(236, 25, 25);
}
.btn-add-task {
  
  height: 50px;
  width: 50px;
  padding: 0;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgb(78, 236, 183);
}

.btn-add-task:hover {
  background-color: rgb(1, 219, 85);
}

.btn-add-task-text {
  font-size: 1.4rem;
}
